
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}
ul {
    list-style: none;
}
#btnAgregar{
    width: 140px;
    height: 38px;
}


.bg-listado{
    min-height: 270px;
    min-width: 190px;
}

@media screen and (min-width: 360px){
    .bg-listado{
        min-height: 270px;
        min-width: 302px;
    }
}
